<app-header></app-header>
<app-header-servicios [highlightId] = 7></app-header-servicios>
<div class="surface-0 flex justify-content-center">
    <div id="home-ingeap" class="landing-wrapper overflow-hidden">
        <div>    
            <div class="grid">
                <div class="col-12 my-auto">
                    <div class="grid">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="grid image-section pt-4">
                                <div class="col-12 mb-2 text-6xl text-900">Solución IoT para tu Negocio.</div>
                                <span class="col-12 text-2xl ocultar-en-movil">
                                    INGEAP AGRO, como partner oficial de Aranet te ayuda con la comprensión y soporte del ecosistema IoT de Aranet,
                                    el cual se destaca como un actor único en el mercado de sensores inalámbricos. Nos encargamos de diseñar, fabricar
                                    y desarrollar una solución completa que incluye sensores, una estación base 3 en 1 (compuesta por una puerta de enlace, 
                                    almacenamiento de datos y servidor web) y una nube.
                                </span>
                            </div>  
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>  
            
            </div>
        </div>   
        
        <div class="grid justify-content-center">
            <!-- Fila 1 -->
            <div class="col-12 md:col-6 lg:col-5 p-4 flex justify-content-end flex-wrap">
                <div class="card">
                    <h4 class="text-center">Sensor de Pluviometría</h4>
                    <p-carousel [value]="imagesPluviometria" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">El kit de sensores de lluvia y precipitación Aranet está diseñado específicamente para el monitoreo de lluvia y lluvia en exteriores.</p>
                    <ul class="text-lg">
                        <li class="text-lg">Precisión: ± 2%</li>
                        <li class="text-lg">Inalámbrico y con batería</li>
                        <li class="text-lg">IP68</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-5 p-4">
                <div class="card">
                    <h4 class="text-center">Sensor de LUX</h4>
                    <p-carousel [value]="imagesLUX" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">El sensor de lux permite conocer la cantidad de luz visible en un área.</p>
                    <ul class="text-lg">
                        <li class="text-lg">Rangos: LUX:0-200.000 lux.</li>
                        <li class="text-lg">Inalámbrico y con batería.</li>
                        <li class="text-lg">IP67</li>
                    </ul>
                </div>
            </div>
        
            <!-- Fila 2 -->
            <div class="col-12 md:col-6 lg:col-5 p-4 flex justify-content-end flex-wrap">
                <div class="card">
                    <h4 class="text-center">Sensor de Temperatura</h4>
                    <p-carousel [value]="imagesTemperatura" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">Mide la temperatura a través de distintos tipos de sustratos,  tal como lana de roca, fibra de coco, suelo desnudo, entre otras.</p>
                    <ul class="text-lg">
                        <li class="text-lg">Rangos: -40°C / 60°C</li>
                        <li class="text-lg">Inalámbrico y con batería</li>
                        <li class="text-lg">IP68</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-5 p-4">
                <div class="card">
                    <h4 class="text-center">Sensor de Drenaje</h4>
                    <p-carousel [value]="imagesDrenaje" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">Este instrumento permite conocer en tiempo real la cantidad de agua que ha sido drenada desde algún afluente.</p>
                    <ul class="text-lg">
                        <li class="text-lg">Rangos: 1 pulso/ 5 mL</li>
                        <li class="text-lg">Inalámbrico y con batería</li>
                        <li class="text-lg">IP68</li>
                    </ul>
                </div>
            </div>

            <!-- Fila 3 -->
            <div class="col-12 md:col-6 lg:col-5 p-4 flex justify-content-end flex-wrap">
                <div class="card">
                    <h4 class="text-center">Sensor T°/HR.</h4>
                    <p-carousel [value]="imagesSensorTHR" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">Este instrumento mide temperatura ambiental y Humedad relativa.</p>
                    <ul class="text-lg">
                        <li class="text-lg">Rangos:   -T°: -40°C / 85°C.
                            -HR: 0%-100%</li>
                        <li class="text-lg">Inalámbrico y con batería</li>
                        <li class="text-lg">IP67</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-5 p-4">
                <div class="card">
                    <h4 class="text-center">Sensor Movimiento de Savia.</h4>
                    <p-carousel [value]="imagesMovimientoSavia" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">El sensor de flujo de savia está diseñado para monitorear la relativa
                        variaciones del caudal de savia en plantas pecíolo o brote pequeño.</p>
                </div>
            </div>
        
            <!-- Fila 4 -->
            <div class="col-12 md:col-6 lg:col-5 p-4 flex justify-content-end flex-wrap">
                <div class="card">
                    <h4 class="text-center">Sensor de “Suelo”</h4>
                    <p-carousel [value]="imagesSensorTHR" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">El sensor de suelo mide temperatura, CE y contenido volumétrico de diversos sustratos.</p>
                    <ul class="text-lg">
                        <li class="text-lg">Rangos:        -CE: 0-12 ds/m. 
                            -Cont.Vol: 0-100%
                            -T°: -20°C/60°C</li>
                        <li class="text-lg">Inalámbrico y con batería</li>
                        <li class="text-lg">IP67</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-5 p-4">
                <div class="card">
                    <h4 class="text-center">Sensor de CO2</h4>
                    <p-carousel [value]="imagesCO2" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">Este instrumento mide la concentración de CO2 ambiental y presión atmosférica.</p>
                    <ul class="text-lg">
                        <li class="text-lg">Rangos: 
                            -CO2: 0-9999 ppm.</li>
                        <li class="text-lg">Inalámbrico y con batería</li>
                        <li class="text-lg">IP67</li>
                    </ul>
                </div>
            </div>

            <!-- Fila 5 -->
            <div class="col-12 md:col-6 lg:col-5 p-4 flex justify-content-end flex-wrap">
                <div class="card">
                    <h4 class="text-center">Sensor de Peso</h4>
                    <p-carousel [value]="imagesPeso" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">Esta herramienta mide el peso usando una celda de carga tipo gancho ideal para
                        cargas suspendidas. Adecuado para ambiente de invernadero
                        para monitorear la ganancia de masa relacionada con el crecimiento en las plantas.</p>
                        <ul class="text-lg">
                            <li class="text-lg">Rangos: 0 - 50 kg and 0 - 100 kg (segun sea el modelo)
                            </li>
                        </ul>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-5 p-4">
                <div class="card">
                    <h4 class="text-center">Transmisor DGA #1238</h4>
                    <p-carousel [value]="imagesDGA" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">Permite conocer el flujo de agua extraído desde el pozo profundo, y/o transmitir es información a la DGA, cumpliendo con el decreto #1238.</p>
                </div>
            </div>
        
            <!-- Fila 6 -->
            <div class="col-12 md:col-6 lg:col-5 p-4 flex justify-content-end flex-wrap">
                <div class="card">
                    <h4 class="text-center">Sensor de PAR</h4>
                    <p-carousel [value]="imagesPAR" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">El sensor PAR, mide la cantidad de radiación fotosintéticamente activa en un área.</p>
                    <ul class="text-lg">
                        <li class="text-lg">Rangos: 
                            -PAR:0-4000 μmol/s/m².</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-5 p-4">
                <div class="card">
                    <h4 class="text-center">Transmisor DGA #1238</h4>
                    <p-carousel [value]="imagesDGA2" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
                        <ng-template pTemplate="item" let-image>
                            <img [src]="image.source" [alt]="image.alt" class="w-20rem h-20rem">
                        </ng-template>
                    </p-carousel>
                    <p class="text-center text-lg">Esta herramienta permite conocer el crecimiento diametral de un cultivo.</p>
                    <ul class="text-lg">
                        <li class="text-lg">
                            Rango:-0-5 mm.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        

    </div>
</div>
<app-footer></app-footer>