<app-header></app-header>
<div class="surface-0 flex justify-content-center">
    <div id="home-ingeap" class="landing-wrapper overflow-hidden">
        <div id="" class="px-4">    
            <div class="grid">
                <div class="col-12 my-auto flex flex-column">
                    <div class="grid">
                        <div class="col-6">
                            <div class="grid image-section pt-4">
                                <div class="col-12 mb-2 text-6xl text-900">Productos Aranet</div>
                                <span class="col-12 text-2xl">
                                    Data
                                </span>
                            </div>  
                        </div>
                        <div class="col-6">
                            <div class="text-center m-5">
                                <img src="assets/ingeap-agro/menu/9.png" class="h-25rem" alt="Imagen 2" style="border-radius: 2px;">              
                            </div>
                        </div>
                    </div>
                </div>  
            
            </div>
        </div>   
        
        <div id="" class="px-4">    
            <div class="grid">
                <div class="col-12 my-auto  bg-gray-100 flex flex-column">
                    <div class="col-12 text-center mt-3 mb-4">
                        <h2 class="text-5xl font-normal mb-2">Productos</h2>
                    </div>
                    <div class="grid">
                        <div class="col-6">
                            <div class="text-center m-5">
                                <img src="assets/ingeap-agro/menu/2.jpg" class="h-25rem" alt="Imagen 2" style="border-radius: 2px;">              
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="grid image-section pt-4">
                                <div class="col-12 mb-2 text-6xl text-900">Autónoma</div>
                                <span class="col-12 text-2xl">
                                    Mediante el uso de un PLC, se logra la automatización completa de riego.
                                    La cual toma decisiones de manera autónoma,
                                    mediante las mediciones que obtiene de las sondas IoT.
                                </span>
                            </div>  
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-6">
                            <div class="grid image-section pt-4">
                                <div class="col-12 mb-2 text-6xl text-900">Teledirigida</div>
                                <span class="col-12 text-2xl">
                                    Con el uso de controladores de selenoides, se logra la autonomía de estos.
                                    Los cuales pueden ser accionados mediante cualquier dispositivo móvil.
                                </span>
                            </div>  
                        </div>
                        <div class="col-6">
                            <div class="text-center m-5">
                                <img src="assets/ingeap-agro/menu/5.png" class="h-25rem" alt="Imagen 2" style="border-radius: 2px;">              
                            </div>
                        </div>
                    </div>
                </div>  
            
            </div>
        </div>  

    </div>
</div>
<app-footer></app-footer>