<div class="flex flex-wrap justify-content-center align-items-center col-12 p-2 h-5rem" style="background-color: #FD8833;">
    <!-- <div class="col-12 md:col-3 text-white text-lg flex justify-content-center md:justify-content-start align-items-center">
        <i class="pi pi-map-marker pr-2" style="font-size: 1rem; color:orange"></i>
        <strong>{{topBarData.direccion}}</strong>
    </div>
    <div class="col-12 md:col-3 text-white text-lg flex justify-content-center md:justify-content-start align-items-center">
        <i class="pi pi-envelope pr-2" style="font-size: 1rem; color:orange"></i>
        <strong>{{topBarData.correo}}</strong>
    </div>
    <div class="col-12 md:col-3 text-white text-lg flex justify-content-center md:justify-content-start align-items-center">
        <i class="pi pi-phone pr-2" style="font-size: 1rem; color:orange"></i>
        <strong>{{topBarData.numeroContacto}}</strong>
    </div>
    <div class="col-12 md:col-3 text-center md:text-right text-white text-lg">
        <strong><i class="ml-2 mr-2 pi pi-linkedin text-2xl" style="cursor: pointer;"></i></strong>
    </div> -->
</div>
