@media (max-width: 768px) {
    .ocultar-en-movil {
      display: none;
    }
}

.carousel-item {
    width: 100%;
    height: 650px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen de fondo */
}

.carousel-content {
    position: absolute; /* Asegura que el contenido esté posicionado */
    top: 50%; /* Ajusta esta propiedad según sea necesario */
    left: 50%; /* Ajusta esta propiedad según sea necesario */
    transform: translate(-50%, -50%); /* Centra el contenido */
    padding: 20px;
    text-align: justify;
    background: none; /* Eliminar fondo */
    color: white; /* Texto blanco */
    max-width: 800px; /* Ajustar el ancho máximo según sea necesario */
    max-height: 500px;
}

.carousel-content h1 {
    color: white; /* Título en blanco */
    margin-bottom: 10px; /* Espacio entre el título y el párrafo */


    @media (max-width: 1024px ){
      font-size: calc(12px + 3vw) !important;
    }

}
.carousel-content p {
    @media (max-width: 1024px ){
      font-size: calc(8px + 1vw) !important;
    }
}

:host ::ng-deep .custom-carousel .p-carousel-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 50%;
    transform: translateY(-350%);
}

.custom-carousel {
    position: relative;
    min-height: 0;
}

.corner1 {
    position: absolute;
    width: 20px;
    height: 20px;
}

.corner::before, .corner::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 165, 0, 0.75); /* Color naranja */
}

.top-left::before, .top-left::after {
    top: 0;
    left: 0;
}

.top-left::before {
    width: 40px;
    height: 4px;
}

.top-left::after {
    width: 4px;
    height: 40px;
}

.top-right::before, .top-right::after {
    top: 0;
    right: 0;
}

.top-right::before {
    width: 40px;
    height: 4px;
    right: 0;
}

.top-right::after {
    width: 4px;
    height: 40px;
    top: 0;
    right: 0;
}

.bottom-left::before, .bottom-left::after {
    bottom: 0;
    left: 0;
}

.bottom-left::before {
    width: 40px;
    height: 4px;
    bottom: 0;
}

.bottom-left::after {
    width: 4px;
    height: 40px;
    bottom: 0;
    left: 0;
}

.bottom-right::before, .bottom-right::after {
    bottom: 0;
    right: 0;
}

.bottom-right::before {
    width: 40px;
    height: 4px;
    bottom: 0;
    right: 0;
}

.bottom-right::after {
    width: 4px;
    height: 40px;
    bottom: 0;
    right: 0;
}

.overlay-block {
    position: relative;
    top: -100px;
    left: 50%;
    right: 50%;
    width: 50%;
    height: 20%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 10;
    pointer-events: auto;
    border-radius: 10px;
    border: 2px solid #FD8833;
}

.overlay-block .border-md-right:not(:last-child) {
    border-right: 2px solid #FD8833;
}

@media (max-width: 1134px) {
    .overlay-block {
        height: 20%;
        width: 80%;
    }

    .overlay-block .border-md-right:not(:last-child) {
        border-right: none;
    }
    .img-responsive{
        width: 80% !important;
        height: 80% !important;
    }
}

@media (max-width: 768px) {
    .overlay-block {
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    
    #elemento_chico{
        display: flex;
        flex-direction: row !important;
        padding: 0 !important;
    }
    #elemento_chico span{
        font-size: calc(5px + 3vw);
    }

    .overlay-block .border-md-right:not(:last-child) {
        border-right: none; /* Elimina el borde derecho azul en móviles */
    }

    .overlay-block .col-12 span {
        font-size: 2rem; /* Aumenta el tamaño del texto */
    }
}


.image-section {
    display: flex;
    justify-content: space-around;
}
  
.image-container {
    position: relative;
    width: 23%;
    margin: 1%;
    overflow: hidden;
    cursor: pointer;
}
  
.image-container img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    display: block;
    border-radius: 0.5rem;
    transition: filter 0.3s ease;
}
  
.image-container:hover img {
    filter: brightness(50%); /* Oscurece la imagen al pasar el mouse */
}

.info-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #FD8833;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.menu-bk {
    background-image: url('/assets/ingeap/menu-ingeap/experiencia.jpeg');
    background-color: rgba(255, 255, 255, 0.8);     
    background-blend-mode: overlay; /* Combina el color y la imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
}
