<div class="min-h-screen flex flex-column">    
    <div style="position: fixed; z-index: 1000; background-color: #f5f5f5; width: 100%;">
        <app-header></app-header>
    </div>
    <div class="surface-0 flex justify-content-center mt-2">
        <div class="landing-wrapper overflow-hidden">
            <div id="home-salas" style="margin-top: 5.625rem !important;" #parentDiv>
                <p-carousel 
                    [value]="products" 
                    [numVisible]="1" 
                    [numScroll]="1" 
                    [circular]="true" 
                    [responsiveOptions]="responsiveOptions" 
                    autoplayInterval="4000"
                    class="custom-carousel">
                    <ng-template let-product pTemplate="item">
                        <div class="carousel-item flex align-items-center justify-content-center">
                            <div class="carousel-background" [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
                            <div class="carousel-overlay"></div>
                            <div class="carousel-content">
                                <div class="corner top-left ocultar-en-movil" ></div>
                                <div class="corner top-right ocultar-en-movil"></div>
                                <div class="corner bottom-left ocultar-en-movil"></div>
                                <div class="corner bottom-right ocultar-en-movil"></div>
                                <h1 class="text-7xl text-white text-center">{{product.name}}</h1>
                                <p id="parrafo_slider" class="text-base text-white text-center ocultar-en-movil">{{product.detalle}}</p>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
                    
                <div class="grid overlay-block">
                    <div id="elemento_chico" class="col-12 md:col-4 lg:col-4 flex flex-column align-items-center justify-content-center text-xl border-md-right">
                        <div class="flex align-items-center justify-content-center" 
                            style="width:6rem;height:6rem; border-radius:10px;">
                            <img [src]="imagenSrc1"
                                (mouseover)="cambiarImagen1(true)"
                                (mouseout)="cambiarImagen1(false)"
                                (click)="navegarSalas()"
                                alt="Salas Eléctricas Chile" 
                                style="width: 100%; height: 100%; object-fit: contain; border-radius:10px; cursor: pointer;" class="img-responsive">
                        </div>
                        <span class="">Salas Eléctricas Chile</span>
                    </div>
                    <div id="elemento_chico" class="col-12 md:col-4 lg:col-4 flex flex-column align-items-center justify-content-center text-xl border-md-right">
                        <div class="flex align-items-center justify-content-center" 
                            style="width:6rem;height:6rem; border-radius:10px;">
                            <img [src]="imagenSrc2"
                                (mouseover)="cambiarImagen2(true)"
                                (mouseout)="cambiarImagen2(false)"
                                (click)="navegarIngeap()"
                                alt="Ingeap Servicios" 
                                style="width: 100%; height: 100%; object-fit: contain; border-radius:10px; cursor: pointer;" class="img-responsive">
                        </div>
                        <span class="">Ingeap Servicios</span>
                    </div>   
                    <div id="elemento_chico" class="col-12 md:col-4 lg:col-4 flex flex-column align-items-center justify-content-center text-xl border-md-right">
                        <div class="flex align-items-center justify-content-center" 
                            style="width:6rem;height:6rem; border-radius:10px;">
                            <img [src]="imagenSrc3"
                                (mouseover)="cambiarImagen3(true)"
                                (mouseout)="cambiarImagen3(false)"
                                (click)="navegarIngeapAgro()"
                                alt="Ingeap Agro" 
                                style="width: 100%; height: 100%; object-fit: contain; border-radius:10px; cursor: pointer;" class="img-responsive">
                        </div>
                        <span class="">Ingeap Agro</span>
                    </div>               
                </div>
            </div>       
            
            <div id="historia" class="py-2 px-4 bg-gray-100 ">    
                <div class="grid mt-6 md:pb-8">
                    <div class="col-12 my-auto flex flex-column">
                        <div class="grid mt-5 ocultar-en-movil">
                            <div class="col-1"></div>
                            <div class="col-10 text-center">
                                <h2 class="line-height-1 text-900 text-5xl font-normal">Nuestra Empresa</h2>
                                <span class="text-xl text-lg line-height-3 mx-auto">
                                    Como Ingeap en respuesta a la creciente demanda de soluciones especializadas en el diseño, construcción y montaje de equipos de control, 
                                    protección, y gestión eléctrica hemos decidido dar un paso estratégico en base a nuestra experiencia y el éxito sostenido que se ha 
                                    logrado con las salas eléctricas modulares, y por lo tanto,  utilizamos el dominio "Salas Eléctricas Chile" para ofrecer de forma exclusiva, 
                                    la ingeniería, construcción y montaje de salas eléctricas modulares pre fabricadas.
                                </span>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div id="salas" class="py-4 px-4 lg:px-8">
                            <div class="text-center pb-5 mb-5">
                            <h2 class="text-5xl font-normal mb-2">Nuestras Salas</h2>
                            </div>
                        
                            <div class="image-section">
                                <div class="image-container h-25rem">
                                    <img src="assets/salas_electricas/menu/1.jpg" class="h-25rem" alt="Imagen 1">
                                    <div class="info-overlay text-100 text-2xl">Fácil Transporte</div>
                                </div>
                                <div class="image-container h-25rem">
                                    <img src="assets/salas_electricas/menu/2.jpg" class="h-25rem" alt="Imagen 2">
                                    <div class="info-overlay text-100 text-2xl">Versatilidad</div>
                                </div>
                                <div class="image-container h-25rem">
                                    <img src="assets/salas_electricas/menu/3.jpg" class="h-25rem" alt="Imagen 3">
                                    <div class="info-overlay text-100 text-2xl">Modelamiento 3D</div>
                                </div>
                            </div>
            
                            <div class="image-section">
                                <div class="image-container h-25rem">
                                    <img src="assets/salas_electricas/menu/4.jpg" class="h-25rem" alt="Imagen 4">
                                    <div class="info-overlay text-100 text-2xl">Seguridad y Protección</div>
                                </div>
                                <div class="image-container h-25rem">
                                    <img src="assets/salas_electricas/menu/5.jpg" class="h-25rem" alt="Imagen 5">
                                    <div class="info-overlay text-100 text-2xl">Pruebas en Ambiente controlado</div>
                                </div>
                                <div class="image-container h-25rem">
                                    <img src="assets/salas_electricas/menu/6.png" class="h-25rem" alt="Imagen 6">
                                    <div class="info-overlay text-100 text-2xl">Instalación Fácil y Rápida</div>
                                </div>
                            </div>
                        </div>  
                    </div>  
                </div>
            </div>   

            <div id="beneficios" class="px-4 lg:px-8 mx-0 lg:mx-8 text-center">
                <div class="grid justify-content-center">
                    <div class="col-12 text-center mt-8 mb-4">
                        <h2 class="text-900 font-normal mb-2">Beneficios</h2>
                        <!-- <span>La seguridad es nuestro primer valor, todas nuestras actividades deben desarrollarse de manera segura, de tal forma de promover la salud, seguridad y bienestar de nuestro personal</span> -->
                    </div>
                    <div class="col-12 md:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                        <app-collapsible-panel
                            title="Asesorías en ingeniería eléctrica"
                            imageUrl="assets/salas_electricas/iconos/44.png"
                            description="Contamos con ingenieros de las áreas eléctrica, electrónica, y mecánica para realizar un desarrollo integral de los proyectos."
                            [items]="[
                                'Estudio y medición de mallas de puesta a tierra.',
                                'Estudios y mediciones de calidad de energía.',
                                'Diseño de sistemas de distribución de media y baja tensión.',
                                'Estudios de coordinación de protecciones.',
                                'Estudio y memorias de cálculos estructurales con confección de maquetas 3D.',
                                'Estudio y memorias de cálculos de climatización.',
                                'Estudio y memorias de cálculos de iluminación.',
                                'Otros (Consúltanos).'
                            ]">
                        </app-collapsible-panel>
                    </div>
                    <div class="col-12 md:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                        <app-collapsible-panel
                            title="Ahorro en el Proyecto"
                            imageUrl="assets/salas_electricas/iconos/1.png"
                            description=""
                            [items]="[
                                'Fabricación en entornos controlados.',
                                'Las salas modulares se fabrican en un entorno controlado.',
                                'Fácil transporte al lugar de instalación.',
                                'Ahorro de tiempo y dinero.',
                                'Las salas modulares suelen ser más eficientes en términos de tiempo y costos que las fabricadas in situ.',
                                'El ahorro se debe a la reducción en los trabajos necesarios para trasladar, montar, cablear y configurar los equipos.',
                                'Costos de construcción y montaje:',
                                'La construcción in situ implica elevados costos de faena.',
                                'Además, la propia estructura de la sala eléctrica debe construirse en el lugar, lo que incrementa los costos.'
                            ]">
                        </app-collapsible-panel>
                    </div>
                    <div class="col-12 md:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                        <app-collapsible-panel
                            title="Gran Variedad de Aplicaciones"
                            imageUrl="assets/salas_electricas/iconos/3.png"
                            description=""
                            [items]="[
                            'Industrias que utilizan salas eléctricas: Energía, Manufactura, Minería, Petróleo y gas, Telecomunicaciones,  Otras industrias según las necesidades del cliente.',
                            'Equipos que pueden contener:',
                            'Equipos de control',
                            'Equipos de medición',
                            'Sistemas de protección',
                            'Variadores de frecuencia',
                            'Transformadores',
                            'UPS (Sistemas de Alimentación Ininterrumpida)',
                            'Baterías',
                            'Sistemas de comunicaciones',
                            'Computadoras',
                            'Routers',
                            'Flexibilidad en diseño:',
                            'Se pueden montar diferentes equipos según los requerimientos del cliente.',
                            'Las dimensiones de la sala se adaptan a las necesidades del proyecto.'
                            ]">
                        </app-collapsible-panel>
                    </div>
                    <div class="col-12 md:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                        <app-collapsible-panel
                            title="Personalización y flexibilidad"
                            imageUrl="assets/salas_electricas/iconos/2.png"
                            description=""
                            [items]="[
                            'Diseño y construcción personalizados:',
                            'Requerimientos específicos del cliente',
                            'Dimensiones',
                            'Distribución interna',
                            'Características de resistencia y seguridad',
                            'Maquetas 3D:',
                            'Facilitan la visualización de la construcción',
                            'Reflejan los requerimientos del cliente'
                            ]">
                        </app-collapsible-panel>
                    </div>
                    <div class="col-12 md:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                        <app-collapsible-panel
                            title="Seguridad y Protección"
                            imageUrl="assets/salas_electricas/iconos/4.png"
                            description="PRUEBAS EN AMBIENTE CONTROLADO Para asegurar la calidad del producto a nuestro cliente, además de asegurar las memorias de cálculo de lo realizado, utilizamos diversos protocolos para asegurar los altos estándares de calidad. Esto incluye las pruebas de impermeabilidad, isaje, climatización, aislación, continuidad eléctrica, sistemas contra incendio, de iluminación,"
                            [items]="[
                            'Protección contra factores externos:',
                            'Clima',
                            'Contaminación',
                            'Interferencia electromagnética',
                            'Diseño resistente a:',
                            'Condiciones extremas',
                            'Sismos',
                            'Incendios',
                            'Explosiones internas',
                            'Sistemas utilizados:',
                            'Aislación',
                            'Climatización',
                            'Presurización',
                            'Detección y extinción de incendios',
                            'Equipos especializados según sea necesario'
                            ]">
                        </app-collapsible-panel>
                    </div>
                    <div class="col-12 md:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                        <app-collapsible-panel
                            title="Instalación Fácil y Rápida"
                            imageUrl="assets/salas_electricas/iconos/5.png"
                            description="Al ser prefabricadas, su instalación en el sitio es relativamente rápida y sencilla, lo que reduce el tiempo de montaje, inactividad, y probabilidad de errores."
                            [items]="[]">
                        </app-collapsible-panel>
                    </div>
                </div>
            </div>
        
            <div id="modelacion" class="py-2 px-2 bg-gray-100"> 
                <div class="grid justify-content-center">
                    <div class="col-12 text-center mt-8 mb-4">
                        <h2 class="text-900 font-normal mb-2">Ejemplo de Modelación</h2>
                    </div>
                    <div class="grid mb-7 ml-5">
                        <div class="col-12 lg:col-7">
                            <div class="flex">
                                <div
                                    class="flex flex-column w-2 justify-content-between"
                                    style="row-gap: 1rem"
                                >
                                    <img
                                        *ngFor="let image of images; let i = index"
                                        [ngClass]="{
                                            'border-primary': selectedImageIndex === i
                                        }"
                                        [src]="image"
                                        class="w-full cursor-pointer border-2 border-transparent transition-colors transition-duration-150 border-round"
                                        (click)="selectedImageIndex = i"
                                    />
                                </div>
                                <div class="pl-3 w-10 flex">
                                    <img
                                        [src]="images[selectedImageIndex]"
                                        class="w-full border-2 border-transparent border-round"
                                    />
                                </div>
                            </div>
                        </div>                        
                        <div class="col-12 lg:col-4 py-3 lg:pl-6">
                            <div class="flex align-items-center text-xl font-medium text-900 mb-4 text-2xl">
                                Sala de bombeo sub centro 8 
                            </div>
                            <div class="grid">
                                <div class="col-6 text-xl">
                                    <ul>
                                        <li>Cliente: SQM</li>
                                        <li>Medidas: 4 x 3 x 3 m</li>
                                        <li>Sala cuenta con:</li>
                                        <li>Detección de incendios con central de alarma BOSCH.</li>
                                        <li>Kit de rescate eléctrico</li>
                                        <li>Iluminación DS 43.</li>
                                        <li>VDF 315 kW de integración propia</li>
                                    </ul>
                                </div>
                                <div class="col-6 text-xl">
                                    <ul>
                                        <li>VDF 132 kW de integración propia</li>
                                        <li>Tablero de alumbrado y fuerza</li>
                                        <li>Centro de distribución de carga, CDC.</li>
                                        <li>Equipo de climatización de 60.000 Btu /h</li>
                                        <li>Entrega de memoria de cálculo de izaje</li>
                                        <li>Entrega de memoria de cálculo de climatización</li>
                                        <li>Entrega de Memoria de carga combustible</li>
                                        <li>Entrega de Dossier de calidad de pruebas eléctricas /estructurales</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                           
                </div>
            </div>
        </div>
    </div>
    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</div>