# Ver http://help.github.com/ignore-files/ para más información sobre cómo ignorar archivos.

# Salida compilada
/dist
/tmp
/out-tsc
/bazel-out

# Node.js
/node_modules
npm-debug.log
yarn-error.log

# IDEs y editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
.vscode/*
.history/*

# Angular
/.angular/cache
.angular/
.angular/cache
.angular/cache/*

# Archivos misceláneos
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Archivos del sistema
.DS_Store
Thumbs.db
