.carousel-item {
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen de fondo */
}

.carousel-content {
    position: absolute; /* Asegura que el contenido esté posicionado */
    top: 50%; /* Ajusta esta propiedad según sea necesario */
    left: 50%; /* Ajusta esta propiedad según sea necesario */
    transform: translate(-50%, -50%); /* Centra el contenido */
    padding: 20px;
    text-align: justify;
    background: none; /* Eliminar fondo */
    color: white; /* Texto blanco */
    max-width: 600px; /* Ajustar el ancho máximo según sea necesario */
}

.carousel-content h1 {
    color: white; /* Título en blanco */
    margin-bottom: 10px; /* Espacio entre el título y el párrafo */
}

:host ::ng-deep .custom-carousel .p-carousel-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 50%;
    transform: translateY(-100%);
}

.custom-carousel {
    position: relative;
}

.corner1 {
    position: absolute;
    width: 20px;
    height: 20px;
}

.corner::before, .corner::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 165, 0, 0.75); /* Color naranja */
}

.top-left::before, .top-left::after {
    top: 0;
    left: 0;
}

.top-left::before {
    width: 20px;
    height: 4px;
}

.top-left::after {
    width: 4px;
    height: 20px;
}

.top-right::before, .top-right::after {
    top: 0;
    right: 0;
}

.top-right::before {
    width: 20px;
    height: 4px;
    right: 0;
}

.top-right::after {
    width: 4px;
    height: 20px;
    top: 0;
    right: 0;
}

.bottom-left::before, .bottom-left::after {
    bottom: 0;
    left: 0;
}

.bottom-left::before {
    width: 20px;
    height: 4px;
    bottom: 0;
}

.bottom-left::after {
    width: 4px;
    height: 20px;
    bottom: 0;
    left: 0;
}

.bottom-right::before, .bottom-right::after {
    bottom: 0;
    right: 0;
}

.bottom-right::before {
    width: 20px;
    height: 4px;
    bottom: 0;
    right: 0;
}

.bottom-right::after {
    width: 4px;
    height: 20px;
    bottom: 0;
    right: 0;
}