.image-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow-x: auto;
}

.image-container {
    position: relative;
    flex: 0 0 auto;
    width: 10%; /* Reducido el tamaño */
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-container img {
    width: 100%;
    height: 100px; /* Reducido el tamaño */
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container.highlight {
    border: 3px solid rgba(100, 200, 100, 0.8); /* Borde destacado */
}

.image-container:hover img,
.image-container:hover {
    filter: brightness(50%);
    transform: scale(1.1); /* Zoom en hover */
}

.info-overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(100, 200, 100, 0.8);
    color: white;
    font-weight: bold; /* Texto más grueso */
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
