.redes-sociales {
    text-align: center;
  }
  
.iconos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
  
.icono {
  cursor: pointer;
  color: green;
}
  
.informacion {
  margin-top: 20px;
}
  
.informacion img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
  
/* Imagenes Instagram */
.instagram-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 10px;
  justify-items: center;
  align-items: start;
  max-width: 1000px;
  margin: 0 auto;
}

.instagram-container .post {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out; 
}

.instagram-container .post.size-small {
  grid-column: span 1; 
  grid-row: span 1; 
}

.instagram-container .post.size-medium {
  grid-column: span 1; 
  grid-row: span 2; 
}

.instagram-container .post.size-large {
  grid-column: span 2; 
  grid-row: span 2; 
}

.instagram-container .post img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.instagram-container .post:hover img {
  transform: scale(1.1); 
}

/* end estilo contenedor de img Instagram*/

/* Estilo para el botón de seguir en Instagram */
.follow-button {
  margin-top: 20px;
  text-align: center;
}

.btn-follow {
  background-color: #E1306C; /* Color de fondo similar al de Instagram */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  font-weight: bold; /* Texto en negrita */
}

.btn-follow:hover {
  background-color: #C13584; /* Color de fondo al pasar el mouse */
}
