<app-header></app-header>
<app-header-servicios [highlightId] = 3></app-header-servicios>
<div class="surface-0 flex justify-content-center">
    <div id="home-ingeap" class="landing-wrapper overflow-hidden">
        <div>    
            <div class="grid menu">
                <div class="col-12 my-auto flex flex-column">
                    <div class="grid">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="grid image-section pt-4">
                                <div class="col-12 mb-2 text-6xl">Monitoreo de Extracción de Aguas</div>
                                <span class="col-12 text-2xl">
                                    Con la finalidad de cumplir con el decreto #1238 de la Dirección General de Aguas (DGA), Ingeap Agro, realiza
                                    la instalación del sistema de telemetría que permite tener la visualización en tiempo real de los datos de caudal
                                    extraída de pozos profundos y a su vez transmitir estos datos directamente a la DGA.
                                </span>
                            </div>  
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>  
            
            </div>
        </div>   
        
        <div id="" class="px-4 bg-gray-100 text-center" style="width: 100vw;">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-3 mb-4">
                    <h2 class="text-5xl font-normal mb-2">Beneficios</h2>
                </div>
    
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/23.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Transmisión de datos directo a la DGA.</div>
                            <span class="text-lg">Nuestro sistema permite transmitir los datos del caudalímetro en tiempo real hacia la DGA. A su vez se pueden almacenar estos datos de manera local.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145,226,237,0.2),rgba(251, 199, 145, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2), rgba(172, 180, 223, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/24.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Conocer el flujo de agua utilizado.</div>
                            <span class="text-lg">Conocer la cantidad de agua utilizada, permite una mejor gestión y aprovechamiento de los recursos hídricos, lo que puede traducirse en ahorros de agua, tiempo y costos operativos.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 226, 237, 0.2), rgba(172, 180, 223, 0.2)), linear-gradient(180deg, rgba(172, 180, 223, 0.2), rgba(246, 158, 188, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/25.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Base para la Planificación</div>
                            <span class="text-lg">Los datos obtenidos del monitoreo pueden servir como base para la toma de decisiones informadas y estratégicas tanto a nivel empresarial como gubernamental.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(187, 199, 205, 0.2),rgba(251, 199, 145, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(145, 210, 204, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/13.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Cumplimiento de decreto #1238</div>
                            <span class="text-lg">Según lo estipulado por el decreto N°#1238 de la Dirección General de Aguas, establece que se debe informar la cantidad de agua extraída de pozos profundos.</span>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
        
        <div id="" class="px-4 text-center" style="width: 100vw;">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-3 mb-4">
                    <h2 class="text-5xl font-normal mb-2">FAQ's</h2>
                </div>
    
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="1">
                        <p-accordionTab header="¿Cuáles son los tipos de transmisión de datos?">
                            <p>
                                Los datos de extracción deben ser transmitidos a la DGA mediante diferentes métodos:
                                 en línea, por archivo o formulario, según lo determine la DGA. Esto garantiza la 
                                 transparencia y el control sobre el uso de recursos hídricos​.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>
        
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="2">
                        <p-accordionTab header="¿Existen sanciones por el incumplimiento de este decreto?">
                            <p>
                                El incumplimiento de esta normativa puede acarrear sanciones 
                                económicas significativas, que van desde 10 a 50 unidades tributarias
                                mensuales (UTM) para infracciones leves, hasta 2000 UTM para las más grave.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>  
                
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="3">
                        <p-accordionTab header=".¿Quienes deben instalar este sistema?">
                            <p>
                                Todos los titulares de derechos de aprovechamiento de aguas
                                subterráneas deben instalar sistemas de monitoreo de 
                                extracciones efectivas. Estos sistemas incluyen medidores 
                                de flujo (flujómetros) y sensores de nivel freático, conectados
                                a un registrador de datos (Data Logger).​
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>  
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>