<div class="grid my-8">
    <div class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start">
        <h2 class="line-height-1 text-900 text-4xl font-normal">Monitoreo de Extracción de Aguas</h2>
        <span class="text-700 text-2xl line-height-3 mr-0 md:mr-2" style="max-width:650px;">Con la finalidad de cumplir con el decreto #1238 de la Dirección General de Aguas (DGA), Ingeap Agro, realiza la instalación del sistema de telemetría que permite tener la visualización del agua extraída desde el pozo y a su vez transmite esta información hacia la DGA.</span>
    </div>

    <div class="flex justify-content-end flex-order-1 sm:flex-order-2 col-12 lg:col-6 p-0" style="border-radius:8px;">
        <img src="assets/ingeap/5.png" class="w-11" alt="mockup" style="border-radius: 0.5rem;">
    </div>
</div>