<div class="flex col-12 p-2 bg-green-700">
    <div class="col-3 text-white text-lg">
        <i class="pi pi-map-marker pr-2" style="font-size: 1rem; color:orange"></i>
        <strong>{{topBarData.direccion}}</strong>
    </div>
    <div class="col-3 text-white text-lg">
        <i class="pi pi-envelope pr-2" style="font-size: 1rem; color:orange"></i>
        <strong>{{topBarData.correo}}</strong>
    </div>
    <div class="col-3 text-white text-lg">
        <i class="pi pi-phone pr-2" style="font-size: 1rem; color:orange"></i>
        <strong>{{topBarData.numeroContacto}}</strong>
    </div>
    <div class="col-3 text-right text-white text-lg">
        <strong><i class="ml-2 mr-2 pi pi-facebook text-2xl"></i></strong>
        <strong><i class="ml-2 mr-2 pi pi-instagram text-2xl"></i></strong>
        <strong><i class="ml-2 mr-2 pi pi-linkedin text-2xl"></i></strong>
    </div>
</div>
<div class="surface-0 flex">
    <div class="landing-wrapper overflow-hidden">
        <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3">
            <a class="flex align-items-center" (click)="navegarIngeapAgro()" style="cursor: pointer;">
                <img src="../../../../assets/ingeap/Quillota  Región de Valparaíso (4).png" alt="Sakai Logo" height="80" class="mr-0 lg:mr-2">
            </a>
            <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden">
                <i class="pi pi-bars text-4xl"></i>
            </a>
            <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top:120px">
                <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                    <li>
                        <a (click)="navigateToFragment('home')" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span class="text-xl">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="navigateToFragment('acerca')" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span class="text-xl">Acerca de</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="navigateToFragment('servicios')" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span class="text-xl">Servicios</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="navigateToFragment('beneficios')" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span class="text-xl">Beneficios</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="navigateToFragment('planes')" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span class="text-xl">Planes</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="router.navigate(['/ingeap-agro/faq'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span class="text-xl">FAQ.</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="router.navigate(['/ingeap-agro/contacto'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span class="text-xl">Contacto</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card grid py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8 mt-10">
    <div class="flex justify-content-center col-12 lg:col-6 p-0 flex-order-1 lg:flex-order-0" style="border-radius:8px;">
        <img src="assets/ingeap/2.jpg" class="w-11" alt="mockup mobile" style="border-radius: 0.5rem;">
    </div>

    <div class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
        <h2 class="line-height-1 text-900 text-4xl font-normal">Disminuir costos fijos y ayudar al medioambiente</h2>
        <span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">Son algunas de las principales características del uso de energías renovables. Ingeap Agro, cuenta con una basta experiencia en la instalación de sistemas Fotovoltaicos, los cuales permiten también pueden conferirle autonomía a artículos que necesiten electricidad y que se encuentren lejos de la fuente</span>
    </div>
</div>