<app-header></app-header>
<div class="card grid py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8 mt-10">
    <div class="flex justify-content-center col-12 lg:col-6 p-0 flex-order-1 lg:flex-order-0" style="border-radius:8px;">
        <img src="assets/ingeap/2.jpg" class="w-11" alt="mockup mobile" style="border-radius: 0.5rem;">
    </div>

    <div class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
        <h2 class="line-height-1 text-900 text-4xl font-normal">Disminuir costos fijos y ayudar al medioambiente</h2>
        <span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">Son algunas de las principales características del uso de energías renovables. Ingeap Agro, cuenta con una basta experiencia en la instalación de sistemas Fotovoltaicos, los cuales permiten también pueden conferirle autonomía a artículos que necesiten electricidad y que se encuentren lejos de la fuente</span>
    </div>
</div>