<app-header></app-header>
<div class="surface-0 flex justify-content-center">
    <div class="landing-wrapper overflow-hidden">
        <div #parentDiv>
            <p-carousel 
                [value]="products" 
                [numVisible]="1" 
                [numScroll]="1" 
                [circular]="true" 
                [responsiveOptions]="responsiveOptions" 
                autoplayInterval="3500"
                class="custom-carousel">
                <ng-template let-product pTemplate="item">
                    <div class="carousel-item flex align-items-center justify-content-center">
                        <div class="carousel-background" [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
                        <div class="carousel-overlay"></div>
                        <div class="carousel-content">
                            <div class="corner top-left ocultar-en-movil"></div>
                            <div class="corner top-right ocultar-en-movil"></div>
                            <div class="corner bottom-left ocultar-en-movil"></div>
                            <div class="corner bottom-right ocultar-en-movil"></div>
                            <h1 class="text-7xl text-white text-center">{{product.name}}</h1>
                            <p class="text-4xl text-white text-center ocultar-en-movil">{{product.detalle}}</p>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
            <div class="grid overlay-block">
                <div class="col-12 md:col-4 lg:col-4 flex flex-column align-items-center justify-content-center text-xl border-md-right">
                    <div class="flex align-items-center justify-content-center" 
                         style="width:6rem;height:6rem; border-radius:10px;">
                        <img [src]="imagenSrc1"
                             (mouseover)="cambiarImagen1(true)"
                             (mouseout)="cambiarImagen1(false)"
                             (click)="navegarSalas()"
                             alt="Salas Eléctricas Chile" 
                             style="width: 100%; height: 100%; object-fit: contain; border-radius:10px; cursor: pointer;">
                    </div>
                    <span>Salas Eléctricas Chile</span>
                </div>
                <div class="col-12 md:col-4 lg:col-4 flex flex-column align-items-center justify-content-center text-xl border-md-right">
                    <div class="flex align-items-center justify-content-center" 
                         style="width:6rem;height:6rem; border-radius:10px;">
                        <img [src]="imagenSrc2"
                             (mouseover)="cambiarImagen2(true)"
                             (mouseout)="cambiarImagen2(false)"
                             (click)="navegarIngeap()"
                             alt="Ingeap Servicios" 
                             style="width: 100%; height: 100%; object-fit: contain; border-radius:10px; cursor: pointer;">
                    </div>
                    <span>Ingeap Servicios</span>
                </div>   
                <div class="col-12 md:col-4 lg:col-4 flex flex-column align-items-center justify-content-center text-xl border-md-right">
                    <div class="flex align-items-center justify-content-center" 
                         style="width:6rem;height:6rem; border-radius:10px;">
                        <img [src]="imagenSrc3"
                             (mouseover)="cambiarImagen3(true)"
                             (mouseout)="cambiarImagen3(false)"
                             (click)="navegarIngeapAgro()"
                             alt="Ingeap Agro" 
                             style="width: 100%; height: 100%; object-fit: contain; border-radius:10px; cursor: pointer;">
                    </div>
                    <span>Ingeap Agro</span>
                </div>               
            </div>
        </div>
            
        <div id="acerca" class="py-6 px-4 bg-gray-100">
            <div class="text-center">
                <h2 class="text-5xl font-normal mb-2">Acerca de Ingeap Agro</h2>
            </div>
    
            <div class="grid mt-4">
                <div class="flex justify-content-center col-12 lg:col-6 p-0 flex-order-1 lg:flex-order-0" style="border-radius:8px;">
                    <img src="../../../assets/ingeap/foto_ingeap_agro.jpeg" class="w-11" alt="mockup mobile" style="border-radius: 0.5rem;">
                </div>
    
                <div class="col-12 lg:col-6 my-auto flex flex-column align-items-center text-center">
                    <h2 class="line-height-1 text-900 text-4xl font-normal">Sobre nosotros</h2>
                    <span class="text-700 text-2xl line-height-3 mx-auto" style="max-width:650px;">
                        Ingeap Agro, es una división agrícola de la empresa Ingeap SPA, la cual cuenta con una trayectoria de 25 años en proyectos y montajes de Ingeniería eléctrica (baja y media tensión) y automatización industrial.
                        <br>
                        Ingeap Agro, nace como una empresa de soluciones integrales, la que busca identificar y resolver problemáticas agrícolas, para así mejorar el desarrollo de los huertos a través de la integración de conocimientos eléctricos, mecánicos, agrícolas y automatización.
                    </span>
                </div>                
            </div>
        </div>


        <div id="servicios" class="py-4 px-4 lg:px-8">
            <div class="text-center pb-5 mb-5">
              <h2 class="text-5xl font-normal mb-2">Servicios</h2>
            </div>
          
            <div class="image-section">
              <div class="image-container h-25rem" routerLink="/agro/gestion-riego">
                <img src="assets/ingeap-agro/menu/2.jpg" class="h-25rem" alt="Imagen 1">
                <div class="info-overlay text-100 text-2xl">Sistema de Gestión de Riego</div>
              </div>
              <div class="image-container h-25rem" routerLink="/agro/paneles-fotovoltaicos">
                <img src="assets/ingeap-agro/menu/3.jpg" class="h-25rem" alt="Imagen 2">
                <div class="info-overlay text-100 text-2xl">Sistema Fotovoltaico</div>
              </div>
              <div class="image-container h-25rem" routerLink="/agro/monitoreo-extraccion-agua">
                <img src="assets/ingeap-agro/menu/7.png" class="h-25rem" alt="Imagen 3">
                <div class="info-overlay text-100 text-2xl">Cumplimiento Decreto #1238</div>
              </div>
              <div class="image-container h-25rem" routerLink="/agro/monitoreo-riego">
                <img src="assets/ingeap-agro/menu/4.jpeg" class="h-25rem" alt="Imagen 4">
                <div class="info-overlay text-100 text-2xl">Automatización de Riego</div>
              </div>
            </div>

            <div class="image-section">
                <div class="image-container h-25rem" routerLink="/agro/telemetria">
                  <img src="assets/ingeap-agro/menu/5.png" class="h-25rem" alt="Imagen 1">
                  <div class="info-overlay text-100 text-2xl">Telemetría</div>
                </div>
                <div class="image-container h-25rem" routerLink="/agro/control-heladas">
                  <img src="assets/ingeap-agro/menu/11.jpg" class="h-25rem" alt="Imagen 2">
                  <div class="info-overlay text-100 text-2xl">Automatización control de heladas</div>
                </div>
                <div class="image-container h-25rem" routerLink="/agro/aranet">
                  <img src="assets/ingeap-agro/menu/9.png" class="h-25rem" alt="Imagen 3">
                  <div class="info-overlay text-100 text-2xl">Sensores Aranet</div>
                </div>
                <div class="image-container h-25rem" routerLink="**">
                  <img src="assets/ingeap-agro/menu/10.png" class="h-25rem" alt="Imagen 4">
                  <div class="info-overlay text-100 text-2xl">Bombas de riego</div>
                </div>
            </div>
        </div>                  

        <div id="beneficios" class="px-4 bg-gray-100 text-center">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-8 mb-4">
                    <h2 class="text-5xl font-normal mb-2">¿Por qué Trabajar con Ingeap Agro?</h2>
                </div>
    
                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div class="beneficios">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/5.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Aumento productividad</div>
                            <span class="text-600">Contactamos con productos y servicios que se enfocan en optimizar diversos procesos que impactan directamente la producción del campo, tal como riego del cultivo, mediciones de parámetros de suelo y ambiente.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div class="beneficios">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/6.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Eficiencia Hídrica</div>
                            <span class="text-600">Nuestros productos y servicios permiten al agricultor obtener mejores resultados productivos utilizando de forma óptima el principal recurso de la agricultura: el agua.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div class="beneficios">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/3.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Ahorro de dinero</div>
                            <span class="text-600">La integración de sistemas fotovoltaicos a su campo permitirá disminuir costos fijos en electricidad y mantener constante el suministro eléctrico. A su vez mediante el uso del S.G.R, se puede lograr una disminución en variables energéticas, con la disminución del tiempo de uso de bombas.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div class="beneficios">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/4.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Acompañamiento</div>
                            <span class="text-600">Dependiendo del producto, Ingeap Agro cuenta con servicios de mantenimiento, que además de brindar el apoyo técnico en el funcionamiento, también se encarga de realizar análisis de datos con los cual acompaña al cliente en cada uno de sus procesos.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div class="beneficios">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/1.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Análisis y alarmas</div>
                            <span class="text-600">Todas las mediciones de nuestros productos cuentan con datos en tiempo real, registros históricos, y alarmas. Esto permite una mejor toma de decisiones con datos cuantitativos y en el momento adecuado.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div class="beneficios">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/2.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Cumplimiento de ley</div>
                            <span class="text-600">Para evitar multas, relacionadas al decreto #1238 de la DGA, se realiza la instalación de sensores y transmisores de la cantidad de agua extraída de los pozos profundos.</span>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    
        <div id="" class="px-4 lg:px-8 my-2 md:my-4">
            <div class="text-center m-3">
                <div class="grid justify-content-center mt-8 md:mt-0">
                    <iframe 
                      width="560" 
                      height="315" 
                      src="https://www.youtube.com/embed/qBjSOarA7po" 
                      frameborder="0" 
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                      allowfullscreen>
                    </iframe>
                  </div>                  
            </div>
        </div>

        <div id="beneficios" class="px-4 bg-gray-100 text-center">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mb-4">
                    <h2 class="text-5xl font-normal mb-2">Redes Sociales</h2>
                </div>

                <div class="p-d-flex p-jc-center p-ai-center p-mt-4">
                    <div class="p-grid">
                      <!-- Facebook Posts -->
                      <div class="p-col-12 p-md-4">
                        <div class="social-card p-p-3 p-mb-4">
                          <h2 class="p-text-center">Facebook</h2>
                          <div *ngFor="let post of facebookPosts" class="p-mb-2">
                            <p>{{ post.message }}</p>
                            <a [href]="post.full_picture" target="_blank">
                              <img [src]="post.full_picture" alt="Facebook Post" class="social-img"/>
                            </a>
                          </div>
                        </div>
                      </div>
                      
                      <!-- Instagram Posts -->
                      <div class="p-col-12 p-md-4">
                        <div class="social-card p-p-3 p-mb-4">
                          <h2 class="p-text-center">Instagram</h2>
                          <div *ngFor="let post of instagramPosts" class="p-mb-2">
                            <p>{{ post.caption }}</p>
                            <a [href]="post.permalink" target="_blank">
                              <img [src]="post.media_url" alt="Instagram Post" class="social-img"/>
                            </a>
                          </div>
                        </div>
                      </div>
                      
                      <!-- LinkedIn Posts -->
                      <div class="p-col-12 p-md-4">
                        <div class="social-card p-p-3 p-mb-4">
                          <h2 class="p-text-center">LinkedIn</h2>
                          <div *ngFor="let post of linkedinPosts" class="p-mb-2">
                            <p>{{ post.text }}</p>
                            <a [href]="post.permalink" target="_blank">
                              <img [src]="post.thumbnailUrl" alt="LinkedIn Post" class="social-img"/>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>