.carousel-item {
    width: 100%;
    height: 650px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: justify;
    background: none;
    color: white;
    max-width: 800px;
    max-height: 500px;
}

.carousel-content h1 {
    color: white;
    margin-bottom: 10px;
}

:host ::ng-deep .custom-carousel .p-carousel-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 50%;
    transform: translateY(-380%);
    width: 100%;
}

.custom-carousel {
    position: relative;
}

@media (max-width: 768px) {
    .overlay-block {
        position: static;
        width: 100%;
        height: auto;
        margin-top: 1rem;
        border-radius: 0;
        border: none;
    }
    .responsive-overlay-block {
        margin-top: 1rem;
    }
    .border-md-right {
        border-right: none !important;
    }
}

@media (min-width: 769px) {
    .overlay-block {
        position: absolute;
        top: 75%;
        left: 50%;
        right: 50%;
        width: 50%;
        height: 17%;
        transform: translateX(-50%);
        background-color: white;
        z-index: 10;
        pointer-events: auto;
        border-radius: 10px;
        border: 2px solid green;
    }
    .border-md-right:not(:last-child) {
        border-right: 2px solid green;
    }
}

.corner1 {
    position: absolute;
    width: 20px;
    height: 20px;
}

.corner::before, .corner::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 165, 0, 0.75);
}

.top-left::before, .top-left::after {
    top: 0;
    left: 0;
}

.top-left::before {
    width: 40px;
    height: 4px;
}

.top-left::after {
    width: 4px;
    height: 40px;
}

.top-right::before, .top-right::after {
    top: 0;
    right: 0;
}

.top-right::before {
    width: 40px;
    height: 4px;
    right: 0;
}

.top-right::after {
    width: 4px;
    height: 40px;
    top: 0;
    right: 0;
}

.bottom-left::before, .bottom-left::after {
    bottom: 0;
    left: 0;
}

.bottom-left::before {
    width: 40px;
    height: 4px;
    bottom: 0;
}

.bottom-left::after {
    width: 4px;
    height: 40px;
    bottom: 0;
    left: 0;
}

.bottom-right::before, .bottom-right::after {
    bottom: 0;
    right: 0;
}

.bottom-right::before {
    width: 40px;
    height: 4px;
    bottom: 0;
    right: 0;
}

.bottom-right::after {
    width: 4px;
    height: 40px;
    bottom: 0;
    right: 0;
}

.service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.service-item p {
    margin: 0;
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 23%;
    margin: 1%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container:hover img {
    filter: brightness(50%);
    transform: scale(1.1);
}

.info-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(144, 238, 144, 0.8);
    color: black;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .image-container {
        max-width: 48%;
    }
}

@media (max-width: 480px) {
    .image-container {
        max-width: 100%;
    }
}
