<app-header></app-header>
<app-header-servicios [highlightId] = 6></app-header-servicios>
<div class="surface-0 flex justify-content-center">
    <div id="home-ingeap" class="landing-wrapper overflow-hidden">
        <div>    
            <div class="grid">
                <div class="col-12 my-auto flex flex-column">
                    <div class="grid menu">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="grid image-section pt-4">
                                <div class="col-12 mb-2 text-6xl">Control Heladas</div>
                                <span class="col-12 text-2xl">
                                    Mediante el uso de sensores de temperatura, permite el control de heladas automatizado,
                                     mediante un sistema que detecta y responde automáticamente a condiciones de heladas 
                                     activando medidas preventivas, como riego o ventilación, cuando se detectan las bajas 
                                     temperaturas. Este sistema protege los cultivos de daños por frío, optimizando recursos
                                      y reduciendo la necesidad de intervención manual.
                                </span>
                            </div>  
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>  
            
            </div>
        </div>   

        <div id="" class="px-4 text-center" style="width: 100vw;">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-3 mb-4">
                    <h2 class="text-5xl font-normal">Beneficios</h2>
                    <span>Los beneficios del control de heladas automatizado incluyen:
                    </span>
                </div>
    
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/225.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Protección de cultivos</div>
                            <span class="text-lg">Previene daños causados por las heladas, asegurando la salud y productividad de los cultivos.
                            </span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145,226,237,0.2),rgba(251, 199, 145, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2), rgba(172, 180, 223, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/226.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Eficiencia en recursos</div>
                            <span class="text-lg">Optimiza el uso de agua y energía al activar las medidas de protección solo cuando es necesario.
                            </span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 226, 237, 0.2), rgba(172, 180, 223, 0.2)), linear-gradient(180deg, rgba(172, 180, 223, 0.2), rgba(246, 158, 188, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/227.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Reducción de la intervención manual</div>
                            <span class="text-lg">Minimiza la necesidad de monitoreo y acción manual, ahorrando tiempo y mano de obra.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(187, 199, 205, 0.2),rgba(251, 199, 145, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(145, 210, 204, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/221.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Mayor rentabilidad</div>
                            <span class="text-lg">Al proteger las cosechas, se evita la pérdida de ingresos y se mejora la sostenibilidad del negocio agrícola.</span>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
        
        <div id="" class="px-4 text-center" style="width: 100vw;">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-3 mb-4">
                    <h2 class="text-5xl font-normal mb-2">FAQ's</h2>
                </div>
        
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="0">
                        <p-accordionTab header="¿Cómo funciona un sistema de control automático de heladas?">
                            <p>
                                Un sistema de control automático de heladas utiliza sensores para monitorear las condiciones de temperatura y humedad en el campo. Cuando los sensores detectan temperaturas cercanas al punto de congelación, el sistema activa automáticamente medidas preventivas como el riego o la ventilación para evitar que se formen heladas y proteger así los cultivos.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>
        
                <!-- Mantener el resto de los bloques como están -->
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="1">
                        <p-accordionTab header="¿Cuáles son las principales ventajas de implementar un control automático de heladas en la agricultura?">
                            <p>
                                Las principales ventajas incluyen la protección eficiente de los cultivos contra daños por heladas, la reducción de la necesidad de intervención manual, y la optimización del uso de recursos como el agua y la energía. Esto ayuda a mantener la calidad y cantidad de la cosecha, aumentando la rentabilidad y sostenibilidad de la explotación agrícola.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="2">
                        <p-accordionTab header="¿Cómo impacta el control automático de heladas en la gestión de riesgos y costos en la agricultura?">
                            <p>
                                El control automático de heladas reduce significativamente el riesgo de pérdidas por daños en cultivos debido a heladas, lo que minimiza las pérdidas económicas. Además, al automatizar el proceso, se disminuye la necesidad de mano de obra y se optimizan los costos operativos, ya que las medidas preventivas se aplican solo cuando son necesarias, en lugar de estar en funcionamiento todo el tiempo.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>