<div class="grid mt-8">
    <div class="flex justify-content-center col-12 lg:col-6 p-0 flex-order-1 lg:flex-order-0" style="border-radius:8px;">
        <img src="assets/ingeap/4.png" class="w-11" alt="mockup mobile" style="border-radius: 0.5rem;">
    </div>

    <div class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
        <h2 class="line-height-1 text-900 text-4xl font-normal">Sistema de Gestion de riego</h2>
        <span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">Mediante el uso del tensiómetro se recopilan datos de la condición de saturación del suelo, los cuales son recepcionados por una estación base y luego son enviados a un “Dashboard”, en donde se puede realizar el análisis de datos, para tomar decisiones informado. Para darle autonomía al sistema señalado anteriormente, la estación cuenta con un panel solar. </span>
    </div>
</div>