<div class="grid my-8">
    <div class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start">
        <h2 class="line-height-1 text-900 text-4xl font-normal">A través del uso de controladores de riego</h2>
        <span class="text-700 text-2xl line-height-3 mr-0 md:mr-2" style="max-width:650px;">Integrado con selenoides autónomos, Ingeap Agro logra automatizar los sistemas de riego, de cualquier campo del país. Para así modernizar la agricultura, lo que se traduce en una mejor gestión hídrica y facilidad para realizar una de las labores más importantes de nuestros huertos. </span>
    </div>

    <div class="flex justify-content-end flex-order-1 sm:flex-order-2 col-12 lg:col-6 p-0" style="border-radius:8px;">
        <img src="assets/ingeap/3.jpg" class="w-11" alt="mockup" style="border-radius: 0.5rem;">
    </div>
</div>