<app-header></app-header>
<app-header-servicios [highlightId] = 2></app-header-servicios>
<div class="surface-0 flex justify-content-center">
    <div id="home-ingeap" class="landing-wrapper overflow-hidden">
        <div>
            <div class="grid menu">
                <div class="col-12 my-auto flex flex-column">
                    <div class="grid">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="grid image-section pt-4">
                                <div class="col-12 mb-2 text-6xl">Instalación de Sistemas Fotovoltaicos</div>
                                <span class="col-12 text-2xl">
                                    Son alguna de las principales características del uso de energías renovables.
                                    Ingeap Agro, cuenta con una basta experiencia en la instalación de sistemas Fotovoltaicos,
                                    los cuales permiten también pueden conferirle autonomía a artículos que necesiten electricidad y 
                                    que se encuentren lejos de la fuente.  
                                </span>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
        </div>        
        <div id="" class="px-4 bg-gray-100 text-center" style="width: 100vw;">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-3 mb-4">
                    <h2 class="text-5xl font-normal mb-2">Beneficios</h2>
                </div>
    
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/19.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Energía Limpia y Renovable</div>
                            <span class="text-lg">La energía solar es una fuente de energía limpia que no produce emisiones de gases de efecto invernadero ni otros contaminantes. A su vez disminuye la cantidad de carbono liberado a la atmósfera, contribuyendo a la lucha contra el cambio climático.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145,226,237,0.2),rgba(251, 199, 145, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2), rgba(172, 180, 223, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/20.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Disminución de Costos Fijos</div>
                            <span class="text-lg">Al usar energía obtenida desde una fuente natural, solo se debe pagar el costo inicial de instalación y no un costo fijo que pagar a una empresa externa de electricidad.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 226, 237, 0.2), rgba(172, 180, 223, 0.2)), linear-gradient(180deg, rgba(172, 180, 223, 0.2), rgba(246, 158, 188, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/21.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Ingreso de Excedentes  a la red</div>
                            <span class="text-lg">La energía que no logre ser utilizada en el sistema ON Grid, puede ser integrado al sistema eléctrico, lo cual puede generar ingresos extra. Esto debe ser autorizado con el TE-4 en la SEC.</span>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 md:col-12 lg:col-6 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:225px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(187, 199, 205, 0.2),rgba(251, 199, 145, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(145, 210, 204, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center justify-content-center" style="width:5rem;height:5rem; border-radius:10px;">
                                    <img src="assets/ingeap-agro/iconos/22.png" alt="Cumplimiento de Ley" style="width: 100%; height: 80%; object-fit: contain; border-radius:10px;">
                                </div>
                            </div>
                            <div class="mb-2 text-2xl text-900">Acceso a energía en áreas remotas</div>
                            <span class="text-lg">Los sistemas fotovoltaicos pueden proporcionar electricidad en zonas donde la red eléctrica no llega, mejorando la calidad de vida y promoviendo el desarrollo económico.</span>
                        </div>
                    </div>
                </div>          
            </div>
        </div>

        <div class="grid md:mt-0 bg-gray-100 text-center">
            <div class="col-12 text-center mt-3 mb-4">
                <h2 class="text-5xl font-normal mb-2">Tipos de Sistemas Fotovoltaicos</h2>
            </div>
        
            <div class="col-12">
                <!-- Contenedor para las tres tarjetas en una fila -->
                <div class="grid col-12">
                    <!-- Tarjeta 1 -->
                    <div class="col-12 md:col-4 mb-4 flex">
                        <div class="card relative flex flex-column justify-content-between" style="height: 100%; width: 100%;">
                            <h3 class="card-title text-left text-2xl font-bold absolute top-0 left-0 p-2 ml-2">Sistema On-Grid</h3>
                            <img src="assets/ingeap-agro/iconos/98.png" class="h-25rem w-25rem mt-8" alt="on grid">
                            <div>
                                <p class="text-3xl">Beneficios con el sistema on-grid.</p>
                                <ul class="text-xl text-left ml-4">
                                    <li>Más económico.</li>
                                    <li>No permite baterías.</li>
                                    <li>Se puede realizar inyección de excedentes a la red, declarando TE-4 en la SEC.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                    <!-- Tarjeta 2 -->
                    <div class="col-12 md:col-4 mb-4 flex">
                        <div class="card relative flex flex-column justify-content-between" style="height: 100%; width: 100%;">
                            <h3 class="card-title text-left text-2xl font-bold absolute top-0 left-0 p-2 ml-2">Sistema Off-Grid</h3>
                            <img src="assets/ingeap-agro/iconos/99.png" class="h-25rem w-25rem mt-8" alt="off grid">
                            <div>
                                <p class="text-3xl">Beneficios con el sistema off-grid.</p>
                                <ul class="text-xl text-left ml-4">
                                    <li>Se alcanza total independencia de la red eléctrica.</li>
                                    <li>Se puede instalar en sectores remotos.</li>
                                    <li>Puede integrar un generador de energía.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                    <!-- Tarjeta 3 -->
                    <div class="col-12 md:col-4 mb-4 flex">
                        <div class="card relative flex flex-column justify-content-between" style="height: 100%; width: 100%;">
                            <h3 class="card-title text-left text-2xl font-bold absolute top-0 left-0 p-2 ml-2">Sistema ESS</h3>
                            <img src="assets/ingeap-agro/iconos/97.png" class="h-25rem w-25rem mt-8" alt="ess">
                            <div>
                                <p class="text-3xl">Beneficios con el sistema ESS.</p>
                                <ul class="text-xl text-left ml-4">
                                    <li>Optimiza el consumo solar.</li>
                                    <li>Posibilidad de disminuir consumo en horas punta.</li>
                                    <li>Respaldo ante cortes de luz a las cargas críticas.</li>
                                    <li>Puede utilizarse en conjunto a sistema ON-Grid.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            
        </div>        
        
        <div id="" class="px-4 text-center" style="width: 100vw;">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-3 mb-4">
                    <h2 class="text-5xl font-normal mb-2">FAQ's</h2>
                </div>
    
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="0">
                        <p-accordionTab header="1. ¿Cómo se calcula el tamaño de un sistema fotovoltaico?">
                            <p>
                                El tamaño de un sistema fotovoltaico se calcula en función del 
                                consumo energético del usuario, la cantidad de luz solar disponible
                                en la ubicación, y el espacio disponible para la instalación.
                                Generalmente, se considera el consumo anual de energía y se diseña 
                                un sistema que pueda cubrir una proporción significativa de ese consumo.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>
        
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="1">
                        <p-accordionTab header="2. ¿Qué es la eficiencia de un panel solar?">
                            <p>
                                La eficiencia de un panel solar se refiere a la cantidad de luz 
                                solar que el panel puede convertir en electricidad. Se expresa como
                                un porcentaje y depende de la tecnología utilizada y las condiciones de operación.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>
        
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="2">
                        <p-accordionTab header="3. ¿Cuál es la vida útil de un sistema fotovoltaico?">
                            <p>
                                Los paneles solares tienen una vida útil de aproximadamente 25 a 30 años. 
                                La mayoría de los fabricantes ofrecen garantías de rendimiento durante este periodo.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>  
                
                <div class="col-12 md:col-12 lg:col-3 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                    <p-accordion [activeIndex]="3">
                        <p-accordionTab header="4. ¿Cómo funcionan los paneles solares fotovoltaicos?">
                            <p>
                                Los paneles solares fotovoltaicos están compuestos por células
                                solares que convierten la luz solar en electricidad mediante el 
                                efecto fotovoltaico. Cuando la luz solar incide sobre las células, 
                                los electrones se excitan y generan una corriente eléctrica.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>  
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>